doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='Description' content='Warframe Kuva Lich auction results page.')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js' defer='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js' defer='')
    script(src='/javascript/results.js' defer='')
    title Kuva Lich Prices

mixin modalButton(owner, wepname, price)
    button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#mainModal') /w
    #mainModal.modal.fade(data-bs-keyboard='false' tabindex='-1' aria-labelledby='backdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#backdropLabel.modal-title Whisper Seller
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                #copyBody.modal-body
                    code
                        mark
                            | /w #{owner} Hi, I would like to buy your #{wepname} for #{price} plat. (warframe.market)
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#copyButton.btn.btn-primary(type='button') Copy



.resultsWrapper
    .resultsBody.container-flex.shadow.rounded
        h1.title Price Results 
        table.resultsTable.table.table-sm.table-striped.table-bordered.border-secondary
            thead
                tr
                    th(scope='col') Weapon
                    th(scope='col') Damage
                    th(scope='col') Element
                    th(scope='col') Ephemera
                    th(scope='col') Quirk
                    th(scope='col') Price
                    th(scope='col') Whisper
            tbody
                each i in data 
                    tr 
                        - let wepname = i.item.weapon_url_name.replace(/_/g, ' ');
                        - wepname = wepname.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
                        td= wepname
                        td= i.item.damage
                        - let element = i.item.element
                        - element = element.charAt(0).toUpperCase() + element.slice(1);
                        td= element
                        td= i.item.having_ephemera
                        if i.item.quirk === "none" 
                            td= ""
                        else
                            td= i.item.quirk 
                        td= i.starting_price + " Plat" 
                        td
                            +modalButton(i.owner.ingame_name, wepname, i.starting_price)







