doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='Description' content='Enter your description here')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js' defer='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js' defer='')
    script(src='/javascript/results.js' defer='')
    title Kuva Lich Prices

.resultsWrapper
    .resultsBody.container-flex.shadow.rounded
        h1.title Price Results 
        table.resultsTable.table.striped
            thead
                tr
                    th(scope='col') Weapon
                    th(scope='col') Damage
                    th(scope='col') Element
                    th(scope='col') Ephemera
                    th(scope='col') Quirk
                    th(scope='col') Price
            tbody
                each i in data 
                    tr 
                        - let wepname = i.item.weapon_url_name.replace(/_/g, ' ');
                        - wepname = wepname.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
                        th= wepname
                        th= i.item.damage
                        - let element = i.item.element
                        - element = element.charAt(0).toUpperCase() + element.slice(1);
                        th= element
                        th= i.item.having_ephemera
                        if i.item.quirk === "none" 
                            th= ""
                        else
                            th= i.item.quirk 
                        th= i.starting_price + " Plat"






