doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Warframe Kuva Lich auction results page.')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' type='text/css')
    link(rel='stylesheet' href='/static/css/styles.css' type='text/css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js' defer='' type="text/js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js' defer='' type="text/js")
    script(src='/static/javascript/results.js' defer='' type="text/javascript")
    title Kuva Lich Prices

mixin modalButton(owner, wepname, price, ownerstatus, num)
    - let ownerID = "https://warframe.market/profile/" + owner 
    - let dynamicIDname = "mainModal" + num 
    - let dynamicIDNameWithPound = "#mainModal" + num
    if ownerstatus === "ingame"
        button.whisper-button.online.btn.btn-success(type='button' data-bs-toggle='modal' data-bs-target=dynamicIDNameWithPound) /w Buy
    else 
        button.whisper-button.offline.btn.btn-outline-danger(type='button' data-bs-toggle='modal' data-bs-target=dynamicIDNameWithPound) offline
    a.message-seller(href=ownerID target="_blank")
        i(class="fas fa-comments seller-icon")
    div(id = dynamicIDname).modal.fade(data-bs-keyboard='false' tabindex='-1' aria-labelledby='backdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#backdropLabel.modal-title Whisper Seller
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                #copyBody.modal-body
                    code
                        mark
                            | /w #{owner} Hi, I would like to buy your #{wepname} for #{price} plat. (warframe.market)
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#copyButton.btn.btn-primary(type='button') Copy



.resultsWrapper
    .resultsBody.container-flex.shadow.rounded
        .row.head-section
            .col-lg-2.col-sm-2
                button.btn.back-button.btn-outline-primary(type='button' onclick="history.back(-1)")
                    i(class="fas fa-arrow-circle-left fa-2x back-icon")
            .col-lg-8.col-sm-8
                h1.results-title Price Results 
            .col-lg-2.col-sm-2
                button#hide-offline.btn.offline-toggle.btn-danger(type="button") Hide Offline
                button#show-offline.btn.offline-toggle.btn-info.hidden(type="button") Show Offline
        table.resultsTable.table.table-sm.table-striped.table-bordered.border-secondary.table-hover
            thead
                tr
                    th(scope='col') Weapon
                    th(scope='col') Damage
                    th(scope='col') Element
                    th(scope='col') Ephemera
                    th(scope='col') Quirk
                    th(scope='col') Price
                    th(scope='col') Whisper
            tbody
                - let iterNum = 0
                each i in data 
                    tr 
                        - iterNum = iterNum + 1
                        - let wepname = i.item.weapon_url_name.replace(/_/g, ' ');
                        - wepname = wepname.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
                        td= wepname
                        td= i.item.damage
                        - let element = i.item.element
                        - element = element.charAt(0).toUpperCase() + element.slice(1);
                        td= element
                        if i.item.having_ephemera === false
                            td= "No"
                        else 
                            td= "Yes"
                        if i.item.quirk === "none" || i.item.quirk === undefined
                            td= ""
                        else
                            - let itemQuirk = i.item.quirk.replace(/_/g, ' ');
                            - itemQuirk = itemQuirk.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
                            td= itemQuirk
                        td= i.starting_price + " Plat"
                        td
                            +modalButton(i.owner.ingame_name, wepname, i.starting_price, i.owner.status, iterNum)

    footer.footer.mt-auto.py-6
        .row
            .col.col-lg-2.col-md-0.col-sm-0
            .col.col-lg-8.col-md-12.col-sm-12
            p.copyright.text-muted
                | Digital Extremes Ltd, Warframe and the logo Warframe are registered
                | trademarks. All rights are reserved worldwide. This is a fansite and
                | has no official link with Digital Extremes Ltd or Warframe.
            .col.col-lg-2.col-md-0.col-sm-0
        .btn-group(role='group' aria-label='Button group')
            a.btn.btn-outline-success(href='https://github.com/michael-stubbs/Warframe-Kuva-Lich-Pricing' tabindex='-1' role='button' aria-disabled='true') Github
            a.btn.btn-outline-success(href='https://twitter.com/__stubbs__' tabindex='-1' role='button' aria-disabled='true') Twitter


.jumbotron.hidden
    h1.display-4 No results found!
    p.lead
        | Please try widening your search.
    p
        | Non-PC markets can sometimes be limited. 
    button.btn.back-button.btn-outline-primary(type='button' onclick="history.back(-1)")
        i(class="fas fa-arrow-circle-left fa-2x")








